// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td {
    border: 1px solid black;
}
#topbar{
    display: inline-block;
}
#sell{
    border: 1px solid black;
    width: 500px;
    margin:10px 0px;
    padding:5px;
}